*.iml
.gradle
/local.properties
## IntelliJ
out/
.idea/
.idea_modules/

.DS_Store
/build
/captures

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx

local.properties

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
# lint/reports/

# Android Profiling
*.hprofdebug.log